.jumbotron{
    text-align: center;
}
svg.planet {
  position: absolute;
  margin-top: -100px;
  right: 200px;
  top: 0;
  height: 60%;
  width: 15%;
}
<<<<<<< HEAD
a.back{
  margin-left: 82%;
}
a.loggain{
    width: 100%;
}
.surveymonkey{
  margin-top: 5%;
  margin-left:30%;
}
.information{
  margin-left:15%;
  margin-right: 15%;
}
.site-logo{
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
=======
>>>>>>> origin/master
